.blog {
    padding: 60px 60px 50px;

    background: url(../img/blog/blog_bg.jpg) 0 0/cover no-repeat;

    position: relative;


    @include breakpoint($breakpoint-xl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint($breakpoint-l) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include breakpoint($mobile-l) {
        padding: 50px 20px 40px;
    }

    @include breakpoint($mobile-sm) {
        padding-top: 40px;
        padding-top: 30px;
    }



    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;


        @include breakpoint($breakpoint-l) {
            margin-bottom: 50px;
        }

        @include breakpoint($mobile-l) {
            margin-bottom: 30px;
        }
    }

    &__item {

        &-img {
            width: 100%;
            height: 100%;

            border-radius: $border-radius;


            @include breakpoint($breakpoint-l) {
                filter: brightness(0.7);
            }
        }

        &-titles {
            width: 430px;

            text-align: center;

            position: absolute;
            bottom: 35px;
            left: 50%;

            transform: translateX(-50%);


            @include breakpoint($breakpoint-4xl) {
                width: 360px;
            }

            @include breakpoint($breakpoint-xl) {
                width: 300px;
            }

            @include breakpoint($breakpoint-l) {
                width: 100%;
                padding: 0 20px;
            }
        }

        &-suptitle {
            display: inline-block;
            margin-bottom: 10px;

            font-family: $font-inter;
            line-height: 18px;
            font-weight: 500;
            letter-spacing: 0.04em;


            @include breakpoint($breakpoint-xl) {
                font-size: 17px;
                letter-spacing: 0;
            }

            @include breakpoint($breakpoint-l) {
                font-size: 16px;
            }

            @include breakpoint($mobile-m) {
                margin-bottom: 5px;

                font-size: 15px;
            }
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.04em;


            @include breakpoint($breakpoint-xl) {
                font-weight: 500;
                font-size: 17px;
                letter-spacing: 0;
            }

            @include breakpoint($breakpoint-l) {
                font-size: 16px;
            }

            @include breakpoint($tablet) {
                font-weight: 700;
            }

            @include breakpoint($mobile-l) {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }

    &__link {
        width: 32%;
        display: inline-block;

        color: $white;

        position: relative;


        @include breakpointMin($breakpoint-huge) {
            max-width: 550px;
        }

        @include breakpoint($tablet) {
            width: 550px;



            &.link--2,
            &.link--3,
            &.link--4,
            &.link--6,
            &.link--7,
            &.link--8 {
                display: none;
            }
        }

        @include breakpoint($mobile-l) {
            width: 400px;
        }

        @include breakpoint($mobile-sm) {
            width: 320px;
        }



        &:first-of-type .blog__item-titles {
            bottom: 15px;


            @include breakpoint($breakpoint-l) {
                bottom: 10px;
            }

            @include breakpoint($tablet) {
                bottom: 25px;
            }

            @include breakpoint($mobile-m) {
                bottom: 15px;
            }
        }

        &:nth-of-type(2) .blog__item-titles {
            @include breakpoint($breakpoint-xl) {
                bottom: 15px;
            }

            @include breakpoint($breakpoint-l) {
                bottom: 32px;
            }

            @include breakpoint($mobile-m) {
                bottom: 20px;
            }
        }

        &:last-of-type .blog__item-titles {
            @include breakpoint($breakpoint-l) {
                bottom: 32px;
            }
            @include breakpoint($mobile-m) {
                bottom: 20px;
            }
        }
    }
}