.btn {
    @include btn-black;



    &--read__more {
        bottom: 55px;
        right: 7px;
    }

    &--interview {
        display: block;
        width: fit-content;
        margin: 30px auto 0;

        @include font18;

        position: unset;
    }

    &--catalog {
        bottom: 30px;
        right: 30px;
    }
}