.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;

    background-color: #0d0d0d;


    @include breakpoint($breakpoint-xl) {
        padding: 20px 40px;
    }

    @include breakpoint($breakpoint-xl) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include breakpoint($mobile-l) {
        flex-direction: column;
    }



    &__left {
        display: flex;


        @include breakpoint($mobile-l) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__logo {
        display: flex;
        margin-right: 38px;


        @include breakpoint($breakpoint-xl) {
            margin-right: 35px;
        }

        @include breakpoint($tablet) {
            margin-right: 25px;
        }

        @include breakpoint($mobile-l) {
            margin-bottom: 10px;
            margin-right: 0;
        }



        &-left {
            font-family: 'Nova Flat', sans-serif;
            font-size: 36px;
            line-height: 44px;


            @include breakpoint($breakpoint-xl) {
                font-size: 28px;
                line-height: 36px;
            }

            @include breakpoint($tablet) {
                font-size: 24px;
                line-height: 28px;
            }

            & span {
                color: $orange;
            }
        }

        &-bar {
            display: block;
            width: 1px;
            height: 40px;
            margin: 0 10px 0 12px;
            background-color: $white;


            @include breakpoint($breakpoint-xl) {
                height: 40px;
                margin: 0 5px;
            }

            @include breakpoint($breakpoint-l) {
                height: 36px;
            }

            @include breakpoint($tablet) {
                display: none;
            }
        }

        &-right {
            font-size: 18px;


            @include breakpoint($breakpoint-xl) {
                font-size: 16px;
                line-height: 20px;
            }

            @include breakpoint($breakpoint-l) {
                font-size: 14px;
                line-height: 18px;
            }

            @include breakpoint($tablet) {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;

        line-height: 20px;
        font-weight: 500;
        text-align: right;
        color: #606060;


        @include breakpoint($mobile-l) {
            width: 100%;
            text-align: center;
        }
    }

    &__copyright {
        margin-bottom: 10px;


        @include breakpoint($breakpoint-xl) {
            margin-bottom: 5px;

            font-size: 14px;
            line-height: 16px;
        }

        @include breakpoint($mobile-l) {
            order: 1;
        }
    }

    &__contact-link {
        margin-bottom: 10px;

        color: inherit;


        @include breakpoint($breakpoint-xl) {
            margin-bottom: 5px;

            font-size: 14px;
            line-height: 16px;
        }



        &:last-child {
            margin-bottom: 0;


            @include breakpoint($breakpoint-xl) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}