.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 38px 60px;

    background: rgba($main-bg, 0.6);
    backdrop-filter: blur(50px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;



    @include breakpoint($breakpoint-4xl) {
        padding: 40px;
    }

    @include breakpoint($breakpoint-l) {
        padding: 30px;
    }

    @include breakpoint($tablet) {
        backdrop-filter: none;
    }

    @include breakpoint($mobile-l) {
        padding: 20px;

    }



    &__left {
        margin-right: auto;

        z-index: 50;


        @include breakpointMin($breakpoint-huge) {
            margin-right: 292px;
        }
    }


    &__logo {
        display: flex;
        align-items: center;


        &-left {
            font-family: 'Nova Flat', sans-serif;
            font-size: 36px;
            line-height: 44px;


            @include breakpoint($breakpoint-3xl) {
                font-size: 32px;
                line-height: 36px;
            }

            @include breakpoint($breakpoint-xl) {
                font-size: 28px;
            }

            @include breakpoint($mobile-l) {
                font-size: 24px;
            }



            & span {
                color: $orange;
            }
        }

        &-bar {
            display: block;
            width: 1px;
            height: 40px;
            margin: 0 10px 0 12px;
            background-color: $white;



            @include breakpoint($breakpoint-3xl) {
                margin: 0 7.5px;
            }

            @include breakpoint($breakpoint-xl) {
                margin: 0 5px;
                height: 34px;
            }

            @include breakpoint($mobile-l) {
                display: none;
            }
        }

        &-right {
            font-size: 18px;
            line-height: 21.94px;



            @include breakpoint($breakpoint-3xl) {
                font-size: 16px;
            }

            @include breakpoint($breakpoint-xl) {
                font-size: 15px;
                line-height: 20px;
            }

            @include breakpoint($mobile-l) {
                display: none;
            }
        }
    }

    &__right {
        margin-left: auto;


        @include breakpointMin($breakpoint-huge) {
            margin-left: 164px;
        }
    }

    &-contacts {
        @include breakpoint($breakpoint-sl) {
            display: flex;
            align-items: center;
        }

        @include breakpoint($breakpoint-l) {
            display: none;
        }



        &__link {
            padding: 5.5px 0 5.5px 37.5px;

            font-weight: 700;
            line-height: 19.5px;
            color: $white;

            background: url('../img/header/mail_icon.svg') 0 center no-repeat;


            @include breakpoint($breakpoint-4xl) {
                padding-left: 33px;
            }

            @include breakpoint($breakpoint-3xl) {
                padding-left: 30px;

                background-size: 26px 20px;
            }

            @include breakpoint($breakpoint-xl) {
                padding: 13px;

                font-size: 0;

                background-position: 0 0;
            }



            &:last-of-type {
                margin-left: 38px;
                padding-left: 34px;

                background: url('../img/header/phone_icon.svg') 0 center no-repeat;


                @include breakpoint($breakpoint-4xl) {
                    margin-left: 20px;
                }

                @include breakpoint($breakpoint-3xl) {
                    padding-left: 22px;

                    background-size: 23px 21px;
                }

                @include breakpoint($breakpoint-xl) {
                    background-position: 0 0;
                }
            }
        }
    }
}