.hero {
    height: 100vh;
    padding: 405px 0px 405px 200px;

    background: rgba($black, 0.6) url(../img/hero_bg.jpg) center 0/cover no-repeat;


    @include breakpoint($breakpoint-xl) {
        padding-top: 350px;
        padding-left: 150px;
    }

    @include breakpoint($breakpoint-l) {
        padding: 350px 0 250px 100px;
    }

    @include breakpoint($breakpoint-sl) {
        padding-top: 300px;
    }

    @include breakpoint($tablet) {
        padding: 250px 0 200px 70px;
    }

    @include breakpoint($mobile-l) {
        padding-left: 0;
    }




    &__title {
        margin-bottom: 45px;

        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;


        @include breakpoint($breakpoint-xl) {
            font-size: 42px;
            line-height: 48px;
        }

        @include breakpoint($breakpoint-l) {
            font-size: 36px;
            line-height: 42px;
        }

        @include breakpoint($breakpoint-sl) {
            margin-bottom: 35px;

            font-size: 32px;
            line-height: 36px;
        }

        @include breakpoint($tablet) {
            font-size: 26px;
        }

        @include breakpoint($mobile-l) {
            padding: 0 20px;

            font-size: 24px;
            text-align: center;
        }

        @include breakpoint($mobile-m) {
            padding: 0 10px;

            font-size: 22px;
        }



        & span {
            color: $orange;
        }
    }
}