// Hero Block
.hero {
    padding: 30px 0 130px;

    position: relative;



    @include breakpoint($tablet) {
        padding-bottom: 90px;
    }

    @include breakpoint($bp-568) {
        padding-bottom: 50px;
    }


    &__logo {
        width: fit-content;
        margin: 0 auto 60px;



        @include breakpoint($tablet) {
            width: 100px;
            height: 100px;
        }

        @include breakpoint($bp-568) {
            width: 50px;
            height: 50px;

            margin: 0 auto 40px 0;
        }


        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__txt-content {
        @include hero__txt-content;



        @include breakpoint($bp-1536) {
            max-width: 900px;
            height: fit-content;
            padding: 100px 80px;
        }

        @include breakpoint($bp-1280) {
            max-width: 800px;
            padding: 80px;
        }

        @include breakpoint($bp-1024) {
            max-width: 700px;
            padding: 70px;
        }

        @include breakpoint($bp-900) {
            max-width: unset;
            width: 80%;
        }

        @include breakpoint($tablet) {
            padding: 50px;
        }

        @include breakpoint($bp-568) {
            width: 100%;
            padding: 40px;
        }
    }

    &__title {
        @include title-hero;



        @include breakpoint($bp-1536) {
            @include font44;
        }

        @include breakpoint($bp-1280) {
            @include font36;
        }

        @include breakpoint($bp-1024) {
            @include font28;
            font-weight: 700;
        }

        @include breakpoint($tablet) {
            @include font24;
            font-weight: 700;
        }
    }

    &__text {
        max-width: 720px;

        @include font20-white;



        @include breakpoint($bp-1024) {
            @include font18;
        }

        @include breakpoint($bp-568) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &--socials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 464px;

        position: absolute;
        top: 253px;
        right: 330px;



        @include breakpoint($bp-1680) {
            right: 7%;
        }

        @include breakpoint($bp-1536) {
            height: 350px;
            right: 15%;
        }

        @include breakpoint($bp-1280) {
            top: 245px;
        }

        @include breakpoint($bp-1100) {
            right: 7%;
        }

        @include breakpoint($bp-1024) {
            height: fit-content;
            top: 270px;
            right: 10%;
        }

        @include breakpoint($tablet) {
            top: 240px;
        }

        @include breakpoint($bp-568) {
            width: 35%;
            height: fit-content;
            flex-direction: row;

            top: 40px;
            right: 30px;
        }



        & a:not(:last-child) {
            @include breakpoint($bp-1024) {
                margin-bottom: 10px;
            }
        }

        & svg {
            @include breakpoint($bp-1024) {
                width: 50px;
                height: 50px;
            }

            @include breakpoint($bp-568) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__spoilers {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;



        @include breakpoint($tablet) {
            margin-top: 60px;
        }

        @include breakpoint($bp-568) {
            height: 220px;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }

        .spoilers__item {
            @include spoiler-item;



            @include breakpoint($bp-1680) {
                max-width: 440px;
            }

            @include breakpoint($bp-1536) {
                max-width: 400px;

                @include font28;
                font-weight: 700;
            }

            @include breakpoint($bp-1368) {
                width: 30%;
                max-width: unset;

                @include font24;
                font-weight: 700;
            }

            @include breakpoint($bp-1280) {
                padding: 40px 40px 50px;

                @include font20;
                font-weight: 700;
            }

            @include breakpoint($bp-1024) {
                padding: 30px 30px 40px;
            }

            @include breakpoint($bp-900) {
                width: 32%;

                @include font18;
            }

            @include breakpoint($tablet) {
                padding: 20px 20px 30px;
            }

            @include breakpoint($bp-640) {
                font-size: 14px;
                line-height: 20px;
            }

            @include breakpoint($bp-568) {
                width: 100%;
                padding: 20px;

                border-radius: $b-radius10;

                br {
                    display: none;
                }
            }



            &:first-child {
                background: $red;
            }

            &:nth-child(2) {
                background: $violet;
            }

            &:last-child {
                background: $pink;
            }
        }
    }
}


// Congrats from stars
.congrats {
    padding-bottom: 180px;

    position: relative;



    @include breakpoint($bp-900) {
        padding-bottom: 120px;
    }

    @include breakpoint($tablet) {
        padding-bottom: 100px;
    }


    &__title {
        @include title-block;



        &::before {
            @include title-rect;

            background: $red;
        }
    }

    &__description {
        max-width: 1536px;
        margin-bottom: 30px;

        @include font28;



        @include breakpoint($bp-1280) {
            @include font24;
        }

        @include breakpoint($bp-1024) {
            @include font20-light;
        }

        @include breakpoint($tablet) {
            @include font18;
        }

        @include breakpoint($bp-568) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.card-star {
    max-width: 1536px;
    display: flex;
    align-items: center;
    margin-bottom: 55px;

    position: relative;



    @include breakpoint($tablet) {
        height: 280px;

        align-items: unset;
    }

    @include breakpoint($bp-568) {
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }


    &:last-child {
        margin-bottom: 0;
    }

    .star__avatar {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 80px;



        @include breakpoint($bp-1536) {
            margin-right: 50px;
        }

        @include breakpoint($bp-1024) {
            margin-right: 30px;
        }

        @include breakpoint($bp-568) {
            margin-bottom: 15px;
        }
    }

    & svg {
        position: absolute;
        top: -10px;
        left: -10px;



        @include breakpoint($bp-1536) {
            width: 300px;
            height: 300px;

            top: 0;
            left: 0;
        }

        @include breakpoint($bp-1024) {
            width: 250px;
            height: 250px;
        }

        @include breakpoint($tablet) {
            width: 200px;
            height: 200px;

            z-index: 100;
        }

        @include breakpoint($bp-640) {
            width: 150px;
            height: 150px;
        }

        @include breakpoint($bp-568) {
            left: 50%;

            transform: translateX(-59%);
        }
    }

    & img {
        margin-bottom: 30px;

        border-radius: $b-radius50p;



        @include breakpoint($bp-1536) {
            width: 300px;
            height: 300px;
        }

        @include breakpoint($bp-1280) {
            margin-bottom: 15px;
        }

        @include breakpoint($bp-1024) {
            width: 250px;
            height: 250px;
        }

        @include breakpoint($tablet) {
            width: 200px;
            height: 200px;
        }

        @include breakpoint($bp-640) {
            width: 148px;
            height: 148px;

            margin-bottom: 10px;
        }
    }

    .star__name {
        @include font20;



        @include breakpoint($tablet) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .star__txt {
        margin-top: -54px;

        @include font24;



        @include breakpoint($bp-1024) {
            @include font20-light;
        }

        @include breakpoint($tablet) {
            margin-top: 0;

            @include font18;
        }

        @include breakpoint($bp-568) {
            margin-bottom: 20px;

            font-size: 16px;
            line-height: 20px;
        }
    }
}


// Article Block
.article {
    padding-bottom: 200px;

    position: relative;



    @include breakpoint($bp-1280) {
        padding-bottom: 150px;
    }

    @include breakpoint($bp-1024) {
        padding-bottom: 120px;
    }

    @include breakpoint($tablet) {
        padding-bottom: 100px;
    }


    &__title {
        @include title-block;



        @include breakpoint($bp-1100) {
            br {
                display: none;
            }
        }


        &::before {
            @include title-rect;

            background: $violet;
        }
    }

    &__description {
        max-width: 1530px;
        margin-bottom: 30px;

        @include font24;



        @include breakpoint($bp-1024) {
            @include font20-light;
        }
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: $b-radius20;
        box-shadow: $box-shadow;
    }
}


// 10 ideas for perfect gifts
.gift-ideas {
    padding-bottom: 200px;

    position: relative;



    @include breakpoint($bp-1280) {
        padding-bottom: 150px;
    }

    @include breakpoint($bp-1024) {
        padding-bottom: 120px;
    }


    &__title {
        padding-left: 40px;

        @include title-block;



        &::before {
            @include title-rect;

            background: $pink;
        }
    }

    &__description {
        margin-bottom: 70px;
        padding-left: 40px;

        @include font24;



        @include breakpoint($bp-1280) {
            @include font20-light;
        }

        @include breakpoint($bp-1024) {
            padding-left: 0;
        }
    }
}

// Product Description
.product {
    display: none;
    padding: 50px 100px 50px 250px;

    background: $white;
    border-radius: $b-radius20;
    box-shadow: $box-shadow;

    position: relative;




    @include breakpoint($bp-1536) {
        padding: 50px 150px;
    }

    @include breakpoint($bp-1024) {
        padding: 50px 80px;
    }

    @include breakpoint($tablet) {
        padding: 40px 50px;
    }


    &.show {
        display: block;
    }

    &__title {
        margin-bottom: 80px;

        @include font36;



        @include breakpoint($bp-900) {
            margin-bottom: 40px;

            @include font28;
            font-weight: 700;
        }
    }

    &__item {
        margin-bottom: 50px;

        @include font20-light;



        &:last-child {
            margin: 0;
        }

        &-label {
            margin-bottom: 25px;

            font-weight: 700;
        }

        & img {
            display: block;
            margin: 30px auto 0;




            @include breakpoint($bp-1536) {
                width: 30%;
                height: auto;
            }
        }
    }
}



// Question Block
.question {
    &__title {
        @include title-block;
        padding: 0 !important;



        @include breakpoint($tablet) {
            padding-bottom: 120px;
        }
    }

    &__txt {
        margin-bottom: 30px;

        @include font24;



        @include breakpoint($bp-1280) {
            @include font20-light;
        }
    }

    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}











// Footer
.footer {
    width: 100%;
    height: 250px;

    background: $black;



    @include breakpoint($bp-1024) {
		height: fit-content;
	}


    &--socials {
        display: flex;
        justify-content: space-between;
        height: unset;
        margin: 80px 0;



        .socials__item {
            @include social-rect;
        }

        & svg {
            @include breakpoint($bp-1024) {
                width: 50px;
                height: 50px;
            }

            @include breakpoint($tablet) {
                width: 40px;
                height: 40px;
            }
        }
    }

    & img {
        display: block;
        margin: 0 auto;



        @include breakpoint($bp-1024) {
            width: 350px;
        }
    }
}