.services {
    padding: 60px 60px 50px;

    background: url(../img/services/services_bg.jpg) 0 0/cover no-repeat;


    @include breakpoint($breakpoint-xl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint($mobile-l) {
        padding-left: 20px;
        padding-right: 20px;
    }



    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        @include breakpoint($breakpoint-xl) {

        }
    }

    &__card {
        width: 470px;
        height: 465px;
        padding: 20px 20px 25px;
        margin-bottom: 70px;

        background: #1f1f1f;
        border-radius: $border-radius;
        box-shadow: 0 4px 15px -5px rgba(0, 0, 0, .6);

        position: relative;


        @include breakpoint($breakpoint-4xl) {
            width: 430px;
            height: 520px;
        }

        @include breakpoint($breakpoint-3xl) {
            width: 48%;
            height: 450px;
            padding: 35px;
            margin-bottom: 40px;
        }

        @include breakpoint($breakpoint-l) {
            height: 500px;
            padding: 25px;
        }

        @include breakpoint($tablet) {
            width: 100%;
            height: 455px;
            padding: 40px;
        }

        @include breakpoint($mobile-l) {
            height: 500px;
            margin-bottom: 30px;
            padding: 20px;

            text-align: center;
        }



        &:nth-child(4),
        &:nth-child(5),
        &:last-child {
            margin-bottom: 0;


            @include breakpoint($breakpoint-l) {
                margin-bottom: 40px;
            }
        }

        &:last-child {
            @include breakpoint($breakpoint-l) {
                margin-bottom: 0;
            }
        }


        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            font-size: 18px;
            font-weight: 700;


            @include breakpoint($breakpoint-l) {
                margin-bottom: 20px;
            }

            @include breakpoint($mobile-l) {
                display: inline-flex;
                flex-direction: column;
                margin: 0 auto 20px;
            }

            @include breakpoint($mobile-m) {
                margin-bottom: 15px;
            }



            & img {
                @include breakpoint($mobile-l) {
                    margin-bottom: 10px;
                }

                @include breakpoint($mobile-m) {
                    margin-bottom: 5px;
                }
            }


            span {
                display: inline-block;
                margin-left: 20px;


                @include breakpoint($mobile-l) {
                    margin: 0;
                }
            }

            span.mobile {
                margin-left: 40px;


                @include breakpoint($mobile-l) {
                    margin: 0;
                }
            }

            span.computer {
                margin-left: 25px;


                @include breakpoint($mobile-l) {
                    margin: 0;
                }
            }
        }


        &-txt {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            color: $gray;


            @include breakpoint($breakpoint-xl) {
                font-size: 16px;
            }

            @include breakpoint($mobile-l) {
                line-height: 18px;
            }

            @include breakpoint($mobile-m) {
                font-size: 15px;
            }
        }
    }
}