// SLIDER STYLES
.wrap {
    @include breakpoint($bp-900) {
        height: 380px;
        margin-bottom: 80px;
    }

    @include breakpoint($bp-568) {
        height: 320px;
        margin-bottom: 100px;
    }
}

.frame {
    width: 100%;
    height: 470px;
    line-height: 250px;
    overflow: hidden;
    padding-left: 120px;



    @include breakpoint($bp-1440) {
        padding-left: 100px;
    }

    @include breakpoint($bp-1280) {
        height: 440px;
    }

    @include breakpoint($bp-1024) {
        height: 340px;
        padding-left: 40px;
    }

    @include breakpoint($bp-568) {
        height: 310px;
        padding-left: 20px;
    }


    ul.main-news__items-wrapp {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        position: relative;



        & li {
            float: left;
            width: fit-content;
            height: 100%;
            margin: 0 20px;

            transition: $transition;
            cursor: pointer;

            position: relative;



            &:first-child {
                margin-left: 0;
            }

            &.active {
                width: 340px;
                padding: 20px 20px 35px 20px;

                background: #F1F1F1;



                @include breakpoint($bp-1280) {
                    width: 320px;
                }

                @include breakpoint($bp-1024) {
                    width: 245px;
                }

                @include breakpoint($bp-568) {
                    width: 220px;
                }


                & .slider__media {
                    transform: scale(0.9083);



                    @include breakpoint($bp-1280) {
                        transform: scale(0.85);
                    }

                    @include breakpoint($bp-1024) {
                        transform: none;
                    }
                }
            }
        }
    }
}


// SLIDER STYLES ENDS
.slider__media {
    width: fit-content;
    height: fit-content;

    transition: $transition;
    position: relative;



    & svg {
        position: absolute;
        top: 10px;
        left: 10px;

        z-index: 100;
    }

    & img {
        display: block;
        margin: 0 auto;



        @include breakpoint($bp-1280) {
            width: 270px;
        }

        @include breakpoint($bp-1024) {
            width: 200px;
        }

        @include breakpoint($bp-568) {
            width: 180px;
        }
    }
}

.slider__text-wrap {
    margin-top: 20px;



    .slider__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;



        .slider__head {
            width: 100%;
            margin: 0;
            padding-left: 14px;

            @include font20-light;

            transition: $transition;



            @include breakpoint($bp-1024) {
                @include font18;
            }

            @include breakpoint($bp-568) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}


// Scrollbar
.scrollbar {
    width: 100%;
    max-width: 1030px;
    margin: 70px auto 100px;
    height: 7px;
    background: url('../img/scrollbar.png') 0 0 no-repeat;
    line-height: 0;

    position: relative;



    @include breakpoint($bp-1024) {
        width: 80%;
    }

    @include breakpoint($bp-900) {
        margin: 60px auto 0;
    }

    @include breakpoint($bp-568) {
        margin: 50px auto 0;
    }


    .handle {
        width: 100%;
        max-width: 210px;
        height: 11px;

        background: $black;
        border-radius: $b-radius10;
        cursor: pointer;

        position: absolute;
        top: -1px;
        left: 0;



        @include breakpoint($bp-1024) {
            top: -2px;
        }
    }

    .mousearea {
        width: 100%;
        height: 20px;

        position: absolute;
        top: -9px;
        left: 0;
    }
}