.socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 145px;
    right: 60px;


    @include breakpoint($breakpoint-l) {
        display: none;
    }



    &__item {
        margin-bottom: 17px;

        transition: $transition;

        &:hover {
            transform: translateY(-5px);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link img {
        &:first-child {
           vertical-align: middle;
        }
    }



    &--contacts {
        width: 50%;
        padding: 230px 0 108px;

        position: unset;


        @include breakpoint($breakpoint-xl) {
            padding: 200px 0 100px;
        }

        @include breakpoint($breakpoint-l) {
            display: flex;
        }

        @include breakpoint($mobile-l) {
            display: none;
        }



        .socials__item {
            width: 100%;
            padding: 40px 0;
            margin: 0;

            text-align: center;

            position: relative;


            @include breakpoint($breakpoint-3xl) {
                padding: 25px 0;
            }

            @include breakpoint($breakpoint-xl) {
                padding: 20px 0;
            }



            &:hover {
                transform: none;
            }

            &:first-child:hover {
                background-color: #2787f5;
            }

            &:nth-child(2):hover {
                background: linear-gradient(92.07deg, #6100FF 0%, #C112FF 93.8%, #A536C0 93.8%);
            }

            &:nth-child(3):hover {
                background-color: #3D5A98;
            }

            &:last-child:hover {
                background-color: #1D9BF0;
            }

            span {
                font-size: 18px;
                font-weight: 700;

                opacity: 0;

                position: absolute;
                right: 70%;
                top: 64px;

                transition: $transition;


                @include breakpointMin($breakpoint-huge) {
                    right: 615px;
                }

                @include breakpoint($breakpoint-3xl) {
                    top: 52px;
                }

                @include breakpoint($breakpoint-xl) {
                    top: 34px;
                    right: 62%;
                }

                @include breakpoint($breakpoint-sl) {
                    right: 50%;
                }

                @include breakpoint($tablet) {
                    font-size: 16px;
                }
            }

            &:hover span {
                opacity: 1;
            }

            img {
                @include breakpoint($breakpoint-xl) {
                    width: 50px;
                }

                @include breakpoint($breakpoint-sl) {
                    margin-left: 100px;
                }
            }
        }
    }
}


// Socials Footer
.socials.socials--footer {
    display: flex;
    flex-direction: unset;
    position: unset;


    .socials__item {
        margin-bottom: 0;
        margin-right: 43px;


        @include breakpoint($breakpoint-xl) {
            margin-right: 25px;
        }

        @include breakpoint($tablet) {
            margin-right: 15px;
        }

        @include breakpoint($mobile-l) {
            margin-bottom: 15px;
        }



        &:last-child {
            margin-right: 0;
        }
    }
}