.works {
    padding: 60px 60px 50px;

    position: relative;


    @include breakpoint($breakpoint-xl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint($breakpoint-sl) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include breakpoint($mobile-l) {
        padding-top: 50px;
    }

    @include breakpoint($mobile-m) {
        padding: 40px 20px 30px;
    }



    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;


        @include breakpointMin($breakpoint-huge) {
            justify-content: unset;
        }

        @include breakpoint($breakpoint-l) {
            margin-bottom: 60px;
        }

        @include breakpoint($tablet) {
            margin-bottom: 45px;
        }

        @include breakpoint($mobile-m) {
            margin-bottom: 30px;
        }
    }
}