<header class="header">

    <div class="header__left">
        <div class="header__logo">
            <div class="header__logo-left">
                <span>Re</span>work
            </div>
            <span class="header__logo-bar"></span>
            <div class="header__logo-right">
                Digital-
                <br />
                агентство
            </div>
        </div>
    </div>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="index.html" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
                <a href="services-page.html" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item">
                <a href="works-page.html" class="nav__link">Работы</a>
            </li>
            <li class="nav__item">
                <a href="clients-page.html" class="nav__link is--active">Клиенты</a>
            </li>
            <li class="nav__item">
                <a href="blog.html" class="nav__link">Блог</a>
            </li>
            <li class="nav__item">
                <a href="team.html" class="nav__link">О нас</a>
            </li>
            <li class="nav__item">
                <a href="contacts-page.html" class="nav__link">Контакты</a>
            </li>
        </ul>
    </nav>

    <!-- Mobile Nav -->
    <nav class="nav nav--mobile" id="mobileNav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="index.html" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
                <a href="services-page.html" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item">
                <a href="works-page.html" class="nav__link">Работы</a>
            </li>
            <li class="nav__item">
                <a href="clients-page.html" class="nav__link is--active">Клиенты</a>
            </li>
            <li class="nav__item">
                <a href="blog.html" class="nav__link">Блог</a>
            </li>
            <li class="nav__item">
                <a href="team.html" class="nav__link">О нас</a>
            </li>
            <li class="nav__item">
                <a href="contacts-page.html" class="nav__link">Контакты</a>
            </li>
        </ul>
    </nav><!-- /.nav  mobile-menu -->

    <div class="header__right">
        <div class="header-contacts">
            <a href="mailto:info@thlab.ru" class="header-contacts__link">
                info@thlab.ru
            </a>
            <a href="tel:+78129200936" class="header-contacts__link">
                +7(812) 920-09-36
            </a>
        </div>
    </div>

    <!-- Burger -->
    <button class="burger" type="button" id="burger">
        <span></span>
    </button>

</header>