<meta charset="UTF-8">

<meta http-equiv="x-ua-compatible" content="ie-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="Рив Гош" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ru.hellomagazine.com/custom/rg/index.html" />
<meta
	property="og:description"
	content="Премия Рив Гош. Специальный проект в преддверии дня рождения Филиппа Киркорова."
/>
<meta
	property="og:site_name"
	content="Мы сделали для вас большую подборку идей о том, как побаловать себя и близких."
/>
<meta property="og:image" content="https://ru.hellomagazine.com/custom/rg/index.html/assets/img/header-logo.png" />
<link rel="shortcut icon" href="assets/img/Hello-RG__favicon.ico" type="image/x-icon" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.min.css">

<title>Hello. Рив Гош</title>