<!-- Modals -->
<div class="modal fade" id="readMore-1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">ДАНЯ МИЛОХИН</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/1.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Это было на каких-то съемках. Он сам подошел ко мне познакомиться, и я тогда был очень взволнован. Круто же, это сам Филипп Киркоров! Мы часто встречаемся на мероприятиях, и мне нравится, что он вливается в нашу молодежную тусовку, что с ним можно поболтать и посмеяться. Он крутой!
                            С ним всегда весело, это однозначно. В прошлом году он позвал меня на день рождения своей дочки Аллы-Виктории, а потом нас с ним дети разукрашивали аквагримом, клеили стразы. А еще он поддержал меня на финале шоу «Ледниковый период». Слышать похвалу в свой адрес от таких людей, как Филипп, очень приятно и дорогого стоит.
                        </p>

                        <p class="question">
                            Как вы считаете, в чем его уникальность как артиста?
                        </p>

                        <p class="answer">
                            Он выделяется, привлекает внимание. Не боится экспериментировать, коллабится с молодым поколением, тем самым набирая новую аудиторию. Поэтому он остается в чартах и о нем говорят.
                        </p>

                        <p class="question">
                            Какое качество Филиппа вам нравится больше всего?
                        </p>

                        <p class="answer">
                            Мне нравится, что он открытый и добрый человек. Всегда искренне дает советы и поддерживает. И он не обесценивает молодежь, не говорит, что мы только тиктоки снимать умеем. Наоборот, он сам снимает крутые ролики в тикток, веселится.
                        </p>

                        <p class="question">
                            Какая песня Филиппа ваша любимая?
                        </p>

                        <p class="answer">
                            «Зайка моя».
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">ЖАСМИН</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/2.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как и когда вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Давно, более двадцати лет назад, когда я была беременна первым ребенком. На мероприятии для узкого круга лиц. Подружились мы не сразу, настоящий человеческий контакт возник уже тогда, когда нам пришлось вместе поработать. У меня была серия выступлений, напряженный и очень ответственный период, и Филипп очень поддержал меня, приняв участие в четырех моих концертах подряд. Первая наша совместная творческая работа была прекрасна, песня называлась «Любовь».
                        </p>

                        <p class="question">
                            Какое влияние на вашу жизнь и творчество он оказал?
                        </p>

                        <p class="answer">
                            Филипп для меня не просто друг, но своего рода наставник. Всегда советуюсь с ним насчет новых песен. Стараюсь не упускать возможность совместных выступлений. Кроме того, мы уже стали близкими друзьями, не пропускаем личных событий друг друга. Филипп был на моей свадьбе, на многих наших семейных торжествах. Особенно сблизились мы, когда у него тоже появились дети. Я очень рада за него.
                        </p>

                        <p class="question">
                            Как вы считаете, в чем его уникальность?
                        </p>

                        <p class="answer">
                            Филипп — невероятно талантливый человек, покоривший своим вокальным талантом и незаурядным актерским мастерством миллионы поклонников. Высокий, статный, невероятно энергичный и обаятельный, он удивительный.
                        </p>

                        <p class="question">
                            Какое качество Филиппа вы можете выделить?
                        </p>

                        <p class="answer">
                            Филипп очень щедрый, добрый. Его подарки всегда незабываемы. Помню, как-то он подарил мне роскошные бокалы Baccarat для дома. У него прекрасный вкус. Важное качество Филиппа — надежность. Я уверена в том, что могу рассчитывать на его поддержку, дружеское плечо. Мы даже шутили, что за годы мы породнились уже как настоящие брат и сестра... Нам часто говорят, что мы похожи, как близкие родственники.
                        </p>

                        <p class="question">
                            Какую песню из репертуара Филиппа вы любите больше всего?
                        </p>

                        <p class="answer">
                            Наверное, те песни, которые я услышала в самом начале нашего знакомства с Филиппом: «Ты, ты, ты», «Ах, если б жить»…
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">КЛАВА КОКА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/3.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Мы познакомились ещё лет 5 назад за кулисами концерта, на котором выступали вместе. Я тогда только начинала, и мне было очень приятно — Филипп был открыт ко мне и очень доброжелателен! У нас сразу случился контакт.
                        </p>

                        <p class="question">
                            Какое влияние на вашу жизнь и творчество он оказал?
                        </p>

                        <p class="answer">
                            Он меня поддерживал. Помню, как в самом начале карьеры делала кавер на его песню, Филипп это оценил и опубликовал в своих соцсетях. Когда ты начинающий артист, такие шаги со стороны большого артиста очень ценны! Или когда я получала премию «Муз-ТВ» — он был одним из немногих старших коллег, кто подошел и искренне поздравил, сказал, что меня ждет большое будущее. Он познакомил меня со своей музыкальной командой, мы даже успели поработать вместе над кое-чем секретным! Филипп меня очень поддерживал в то время, когда мне это было крайне важно. Поэтому я ему очень благодарна!
                        </p>

                        <p class="question">
                            Как вы считаете, в чем его уникальность для российской сцены? Почему столько лет он остается королем поп-музыки?
                        </p>

                        <p class="answer">
                            Несомненно, он очень талантливый и стильный. Он всегда в теме, знает, что актуально. Он умеет «хайпить», поэтому его аудитория постоянно пополняется молодёжью. Ну и конечно, такие концертные шоу, как у него, пока не делает в нашей стране никто. Для меня это высокая планка, но я стремлюсь к тому, чтобы когда-нибудь с ним потягаться. Тем более, я готовлю большое шоу «Бал Клавы Коки» 23 октября в ЦСКА Арене. Уверена, Филипп мне подскажет некоторые фишки и придет меня поддержать.
                        </p>

                        <p class="question">
                            Какое качество Филиппа вам нравится больше всего?
                        </p>

                        <p class="answer">
                            Мне нравится, что он очень мудрый и всегда на позитиве! Из него прет энергия, в этом мы похожи, не раз с ним говорили об этом! Когда он познакомил меня со своими друзьями, через пять минут сказал им: «Ну она прямо наша!»
                        </p>

                        <p class="question">
                            Какая песня Филиппа ваша любимая?
                        </p>

                        <p class="answer">
                            «Жестокая любовь» — это классика, попадающая в самое сердце!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">КРИСТИНА ОРБАКАЙТЕ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/4.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Наши бабушки лежали в одной палате в больнице и в дальнейшем стали общаться. Когда мне было, по-моему, 13 лет, а Филиппу 18 лет, мы с бабушкой пришли на ужин к ним домой, познакомились, начали общаться и в дальнейшем периодически стали встречаться на концертных площадках.
                        </p>

                        <p class="question">
                            Какая песня Филиппа ваша любимая?
                        </p>

                        <p class="answer">
                            Из любимых песен могу выделить «Снег» и песню, посвященную мне — «Кристина».
                        </p>

                        <p class="question">
                            Какое влияние на вашу жизнь он оказал?
                        </p>

                        <p class="answer">
                            У Филиппа огромное количество прекрасных качеств. Он прекрасный друг, профессионал своего дела и действительно умеет делать благородные шаги. Филипп щедрый, это все знают, любит делать хорошие подарки — и это всегда приятно. Когда какой-то праздник, Филипп всегда радует своих друзей.
                            В творчестве всегда на него можно рассчитывать. У меня много лет назад была ситуация, нужно было найти хорошего аранжировщика с качественной студией, чтобы создавать новые песни и интересные проекты. Я обратилась к Филиппу, в то время он закончил запись турецкого альбома «Ой, мама, шика дам!» — и он познакомил меня с Анатолием Лопатиным, мы стали сотрудничать. Благодаря нашему тандему у нас появилось много прекрасных песен, аранжировок, альбомов, которые до сих пор любимы и актуальны. Кстати, после этого я в свою очередь познакомила Анатолия с мамой.
                            Мы с Филиппом вместе формировались на сцене, получали эстрадное, творческое, гастрольное образование. Росли в одном обществе. На нас обоих повлияла русская и западная эстрада тех лет.

                        </p>

                        <p class="question">
                            Как вы считаете, почему столько лет он остается королем поп-музыки?
                        </p>

                        <p class="answer">
                            Филипп первый назвал себя королем российской поп-музыки, и больше уже никто не решается присвоить себе такой титул. Поэтому он им остается, стараясь соответствовать своему титулу. И у него это получается.
                        </p>

                        <p class="question">
                            В чем его уникальность как артиста?
                        </p>

                        <p class="answer">
                            Филипп не останавливается никогда на достигнутом, постоянно ищет новые образы, песни. Его целеустремленность и пробивной характер выражаются во всем: в творчестве, деловых качествах, бизнесе, он до конца доводит любое дело.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">ОЛЬГА БУЗОВА</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/5.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Мы начали общаться после «Новой волны». Это был, по-моему, 2017 год. Я выступала как специальный гость и на самом шоу, и на afterparty — как хедлайнер. После этого был показ, мне не хватило места, и Филипп посадил меня к себе на колени. (Смеется.) Конечно, я всегда следила за его творчеством, он всегда был королем нашей эстрады! Был. Есть. Будет.
                        </p>

                        <p class="question">
                            Какое влияние он оказал на вашу жизнь?
                        </p>

                        <p class="answer">
                            Он меня неоднократно поддерживал. Когда я решила выступать как певица, многие в шоу-бизнесе негативно отнеслись к моему появлению на сцене, некоторые звезды даже оскорбляли меня публично. Филипп на премии «Муз-ТВ» вступился за меня, когда мне не дали премию в номинации «Прорыв года». Кстати, многие помнят именно то, что мне не дали тарелку, но никто не помнит, кто ее тогда забрал. Филипп тогда сказал очень важные для меня слова: «Я верю в эту девочку, она вам всем еще покажет! Она многого добьется!» После всего этого мы с Филиппом всегда на связи. И многое останется только между нами. Наши ночные созвоны и разговоры часами. Наши голосовые в вотсап и фотографии друг другу.
                        </p>

                        <p class="question">
                            Как вы считаете, в чем его уникальность для российской сцены?
                        </p>

                        <p class="answer">
                            Его умение оставаться в тренде, его талант, его «сердце в 1000 свечей» и свет, которым он озаряет нас уже на протяжении 30 лет. Он сделал столько хитов, он не боится экспериментов, не боится идти в ногу со временем. Не каждый артист такой величины способен на это. В этом его успех. А его голос, который окутывает вас, его взгляд, энергетика.
                            Мы с Филиппом похожи тем, что не боимся делиться славой, нашим с Филиппом миром правит любовь.
                        </p>

                        <p class="question">
                            Какое качество Филиппа вам нравится больше всего?
                        </p>

                        <p class="answer">
                            Конечно, щедрость его души. Филиппа постоянно кто-то о чем-то просит, и он помогает. Не привлекает к этому внимания, просто делает и не просит в ответ благодарности.
                        </p>

                        <p class="question">
                            Какая песня Филиппа ваша любимая?
                        </p>

                        <p class="answer">
                            Их всех не перечесть. Но давайте я выделю «О любви» — саундтрек к фильму «Экипаж». Под эту композицию я каталась в «Ледниковым периоде» на Первом канале. Номер стал одним из самых красивых за весь сезон шоу.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">ЯНА РУДКОВСКАЯ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/6.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="question">
                            Как вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            В 2004 году в Сочи. Нас познакомил Юрий Шмильевич Айзеншпис после концерта. Филипп посмотрел на меня и сказал: «О, какие у вас джинсы! Это же Roberto Cavalli, я видел их на показе, они стоят огромных денег!» Я говорю: «Да». А он: «Боже, как они мне нравятся, почему мужских таких нет?» Я отвечаю: «У меня свои бутики, можем подыскать что-то подходящее для вас». Филипп улыбнулся: «Ты нравишься мне еще больше». С тех пор прошло 18 лет, и все эти годы мы дружим. Вот так сошлись на теме красивых вещей, мы оба шопоголики. Наверное, самые главные шопоголики российского шоу-бизнеса.
                        </p>

                        <p class="question">
                            Какое влияние Филипп оказал на вашу жизнь?
                        </p>

                        <p class="answer">
                            Он всегда меня поддерживал. Было непростое время, когда я разводилась с Виктором Батуриным, организаторы мероприятий прямо говорили Филиппу: приходи, но только без Яны. А Филипп отвечал: нет, если я приду, то только с ней, или я не приду вообще.
                            Мы были и соперниками — в 2008 году на «Евровидении». При этом у нас были абсолютно разные артисты и композиции, но я была уверена — мы встретимся в полуфинале, других конкурентов я не видела. Так и получилось. При этом я не скрывала, что ему готова проиграть, больше — никому.
                            Он многому меня научил: дружить в шоу-бизнесе, относиться с пониманием к творческим людям, относиться ко всему с иронией, как это делает он сам. Не будет преувеличением сказать, что Филипп открыл для меня двери шоу-бизнеса, познакомил с огромным количеством людей. Он делился со мной всеми продюсерскими секретами, учил шаг за шагом.

                        </p>

                        <p class="question">
                            В чем его уникальность для российской сцены?
                        </p>

                        <p class="answer">
                            Он умеет подстраиваться под время. Какое время — таким становится и Филипп. Отсюда все его коллаборации с молодежью — Егором Кридом, Давой, Zivert, Maruv. Он — самое большое имя в российском шоу-бизнесе. Кто у нас есть? Пугачева и Киркоров. Филипп умудряется в 55 лет оставаться популярным на всех цифровых площадках от ВК и YouTube до iTunes и Яндекс.Музыки. Это круто.
                        </p>

                        <p class="question">
                            Вы можете назвать его близким другом?
                        </p>

                        <p class="answer">
                            Конечно. Скажу больше — я редко пользуюсь опцией «звонок другу», предпочитаю какие-то события переживать самостоятельно. Но если мне тяжело и нужен совет, я знаю, что всегда могу позвонить ему. Мне всегда важно его мнение. Он человек, который интуитивно чувствует момент. В нем есть и мудрость, и интуиция, они уникально в нем сочетаются.
                        </p>

                        <p class="question">
                            Что бы вы ему пожелали?
                        </p>

                        <p class="answer">
                            Счастья и здоровья. Все остальное у него есть. Он человек-праздник, посмотрите сами — Филипп приходит, и все начинает крутиться вокруг него. Он делает шоу из каждого своего выхода. Таких людей очень мало. Он — амбассадор движения под названием ФИЛИПП КИРКОРОВ.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readMore-7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readMoreLabel">ЭДГАР ШАБАНОВ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/congratulations/7.jpg" class="img-fluid img">
                    </div>

                    <div class="col-8">
                        <p class="answer">
                            Президент группы компаний «РИВ ГОШ» взял эксклюзивное интервью у Филиппа Киркорова для HELLO! (ищите на страницах этого номера) и отдельно поздравил артиста и по совместительству своего друга с 55-летним юбилеем. Внимание, далее идет крайне душевный текст!
                        </p>
                        <p class="question">
                            Когда и при каких обстоятельствах вы познакомились с Филиппом?
                        </p>

                        <p class="answer">
                            Мы познакомились в 2014 году, когда Яна Рудковская пригласила меня на концерт Филиппа в Сочи. А после концерта мы все вместе пошли на ужин. Так и завязалась наша дружба.
                        </p>

                        <p class="question">
                            Мужчины в нашей стране привыкли выглядеть серо и уныло. Филипп не боится быть ярким. Как считаете, есть в этом какая-то миссия?
                        </p>

                        <p class="answer">
                            Почему бы и нет?! Филипп, конечно, творческий человек, поэтому яркие образы — это часть его работы. Но мы видим, что и мужчины начинают носить костюмы не только серого и темно-синего цветов, но и более смелые и модные цветовые гаммы: оранжевый от Hermès, зелёный от Gucci, бордо от Dolce & Gabbana.
                        </p>

                        <p class="question">
                            Какое качество Филиппа вы можете выделить? Как вам кажется, что в нем особенного?
                        </p>

                        <p class="answer">
                            Креативность. Смелость экспериментировать со своим образом, стилем, музыкой, песнями, что позволяет ему на протяжении многих лет оставаться на волне шоу-бизнеса, наслаждаться массовой любовью зрителей. И конечно, хочу отметить его требовательность к себе и своей команде, что приводит к высокому качеству проделанной работы.
                        </p>

                        <p class="question">
                            Что бы вы пожелали имениннику в его день рождения?
                        </p>

                        <p class="answer">
                            Всегда оставаться молодым в душе, тогда и тело будет в форме! Окружать себя молодыми, креативными, задорными и, главное, позитивными людьми! Всегда оставаться на волне, востребованным зрителями, войти в историю как легенда российского шоу-бизнеса!
                        </p>

                        <p class="question">
                            У вас есть любимая песня из репертуара Киркорова?
                        </p>

                        <p class="answer">
                            И не одна! Могу выделить песни «Дива» и «Снег».
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>