<div class="modal modal--contact" id="modal-contact">
    <button class="modal__close">
        <img src="img/form-close.svg" alt="Иконка в виде крестика">
    </button>

    <div class="modal__content contact">

        <h4 class="modal__title">
            Заплоните форму и мы с Вами
            <br />
            свяжемся!
        </h4>

        <form class="form form--contact" action="/" method="post">

            <div class="form-inner form-inner--message">
                <div class="form__group form__group--message">
                    <input class="form__control" type="text" placeholder="Имя*" required>
                    <span class="form__line"></span>
                </div>
                <div class="form__group form__group--message">
                    <input class="form__control" type="text" placeholder="Телефон*" required>
                    <span class="form__line"></span>
                </div>
                <div class="form__group form__group--message">
                    <textarea class="form__control" type="text" placeholder="Сообщение" name="post-text" data-autoresize></textarea>
                    <span class="form__line"></span>
                </div>

                <button class="btn btn--form message" type="submit">
                    Отправить
                </button>
            </div>

        </form><!-- /.form contact-form -->

    </div><!-- /.modal-contact__content -->
</div><!-- /.modal-contact-->