<div class="swiper slider--reviews">
    <div class="swiper-wrapper">

        <div class="swiper-slide reviews__item">
            <img src="img/reviews/reviews__avatar1.jpg" alt="Аватар пользователя 1" class="reviews__avatar">

            <div class="reviews__item-content-text">
                <h4 class="reviews__item-title">
                    «У агентства большое будещее»
                </h4>

                <p class="reviews__item-text">
                    Нам нравятся подходы в работе Вашей команды - любой вопрос решается специалистом в течение короткого периода времени. Надеемся на сохранение сложившихся отношений и на дальнейшее взаимовыгодное сотрудничество.
                </p>

                <div class="reviews__item-author">
                    Георгий Попов
                </div>
            </div>
        </div><!-- /.slide reviews__item -->

        <div class="swiper-slide reviews__item">
            <img src="img/reviews/reviews__avatar2.jpg" alt="Аватар пользователя 2" class="reviews__avatar">

            <div class="reviews__item-content-text">
                <h4 class="reviews__item-title">
                    «Отличное сотрудничество»
                </h4>

                <p class="reviews__item-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos repellendus similique reprehenderit qui maxime itaque, provident aliquam accusantium? Dolores, possimus!
                </p>

                <div class="reviews__item-author">
                    Валентин Егоров
                </div>
            </div>
        </div><!-- /.slide reviews__item -->

        <div class="swiper-slide reviews__item">
            <img src="img/reviews/reviews__avatar3.jpg" alt="Аватар пользователя 3" class="reviews__avatar">

            <div class="reviews__item-content-text">
                <h4 class="reviews__item-title">
                    «Четко выполненые сроки»
                </h4>

                <p class="reviews__item-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nesciunt adipisci provident ad magnam voluptate eos dolor autem possimus, eveniet dignissimos accusamus. Aut, soluta hic!
                </p>

                <div class="reviews__item-author">
                    Александра Петрова
                </div>
            </div>
        </div><!-- /.slide reviews__item -->

    </div><!-- /.slider-wrapper -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div><!-- /.slider slider-reviews -->
