<!-- Slider blog -->
<div class="swiper slider--blog">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide blog__item slide1">
            <a class="blog__link link--1" href="#">
                <img src="img/blog/ui.jpg" alt="Превью первой работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        UX/UI Дизайн
                    </span>
                    <h4 class="blog__item-title">
                        Рассказываем об организации рабочего места
                    </h4>
                </div>
            </a>
            <a class="blog__link link--2" href="#">
                <img src="img/blog/frontend.jpg" alt="Превью второй работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Front-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные советы верстальщикам
                    </h4>
                </div>
            </a>
            <a class="blog__link link--3" href="#">
                <img src="img/blog/backend.jpg" alt="Превью третьей работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Back-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные ресурсы по Back-end
                    </h4>
                </div>
            </a>
        </div>
        <div class="swiper-slide blog__item slide2">
            <a class="blog__link link--4" href="#">
                <img src="img/blog/ui.jpg" alt="Превью первой работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        UX/UI Дизайн
                    </span>
                    <h4 class="blog__item-title">
                        Рассказываем об организации рабочего места
                    </h4>
                </div>
            </a>
            <a class="blog__link link--5" href="#">
                <img src="img/blog/frontend.jpg" alt="Превью второй работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Front-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные советы верстальщикам
                    </h4>
                </div>
            </a>
            <a class="blog__link link--6" href="#">
                <img src="img/blog/backend.jpg" alt="Превью третьей работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Back-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные ресурсы по Back-end
                    </h4>
                </div>
            </a>
        </div>
        <div class="swiper-slide blog__item slide3">
            <a class="blog__link link--7" href="#">
                <img src="img/blog/ui.jpg" alt="Превью первой работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        UX/UI Дизайн
                    </span>
                    <h4 class="blog__item-title">
                        Рассказываем об организации рабочего места
                    </h4>
                </div>
            </a>
            <a class="blog__link link--8" href="#">
                <img src="img/blog/frontend.jpg" alt="Превью второй работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Front-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные советы верстальщикам
                    </h4>
                </div>
            </a>
            <a class="blog__link link--9" href="#">
                <img src="img/blog/backend.jpg" alt="Превью третьей работы" class="blog__item-img" />
                <div class="blog__item-titles">
                    <span class="blog__item-suptitle">
                        Back-End
                    </span>
                    <h4 class="blog__item-title">
                        Полезные ресурсы по Back-end
                    </h4>
                </div>
            </a>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination pagination--blog"></div>

  </div>