<!-- Slider works -->
<div class="swiper slider--works">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slides--group">
            <img src="img/works/work1.jpg" alt="Превью первой работы" class="slider__item-img img1" />
            <img src="img/works/work1.jpg" alt="Превью второй работы" class="slider__item-img img2" />
            <img src="img/works/work1.jpg" alt="Превью третьей работы" class="slider__item-img img3" />
        </div>
        <div class="swiper-slide slides--group">
            <img src="img/works/work2.jpg" alt="Превью четвертой работы" class="slider__item-img img4" />
            <img src="img/works/work2.jpg" alt="Превью пятой работы" class="slider__item-img img5" />
            <img src="img/works/work2.jpg" alt="Превью пятой работы" class="slider__item-img img5" />
        </div>
        <div class="swiper-slide slides--group">
            <img src="img/works/work3.jpg" alt="Превью пятой работы" class="slider__item-img img5" />
            <img src="img/works/work3.jpg" alt="Превью пятой работы" class="slider__item-img img5" />
            <img src="img/works/work3.jpg" alt="Превью пятой работы" class="slider__item-img img5" />
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>



