<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head}}
</head>
<body>

    <div class="page" id="page">
        {{> header-clients-page }}

        <!-- Кнопка для формы обратной связи -->
        <div class="btn btn--contact" type="button" data-modal="modal-contact">
            <div class="message-img__wrapper">
                <img class="message__icon" src="img/support-message.svg" alt="Иконка сообщения для обратной связи">
            </div>
        </div>

        <!-- Модальное окно обратной связи (маленькое) -->
        {{> modal-contact }}


        <main class="main">
            {{> body }}
        </main>

        {{> footer }}
    </div>

    <!-- Кнопка прокрутки страницы наверх -->
    <button class="btn btn--scrollup" id="scrollUp" type="button">
        <span></span>
    </button>

    <!-- JS -->
    <script src="js/app.min.js"></script>
</body>
</html>