.clients-page {
    padding: 220px 0 80px;


    @include breakpoint($breakpoint-l) {
        padding-top: 160px;
    }

    @include breakpoint($tablet) {
        padding: 120px 0 60px;
    }

    @include breakpoint($mobile-l) {
        padding-bottom: 40px;
    }
}

.clients-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);


    @include breakpointMin($breakpoint-huge) {
        grid-template-rows: repeat(6, 550px);
    }

    @include breakpoint($tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include breakpoint($mobile-l) {

    }
}

.client-card {
    padding: 50px;

    color: $white;

    background-color: #202020;


    @include breakpointMin($breakpoint-huge) {
        padding: 50px 60px;
    }

    @include breakpoint($breakpoint-xl) {
        padding: 40px;
    }

    @include breakpoint($breakpoint-l) {
        padding: 35px;
    }

    @include breakpoint($tablet) {
        width: 90%;
        height: fit-content;
        margin-bottom: 30px;
        padding: 40px;

        border-radius: 10px;


        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @include breakpoint($mobile-l) {
        padding: 30px;
    }

    @include breakpoint($mobile-m) {
        padding: 20px;
    }



    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(11) {
        background-color: #242424;
    }


    & img {
        margin-bottom: 50px;


        @include breakpoint($breakpoint-xl) {
            width: 180px;
            margin-bottom: 40px;
        }

        @include breakpoint($breakpoint-l) {
            width: 130px;
        }

        @include breakpoint($mobile-l) {
            width: 100px;
            margin-bottom: 25px;
        }
    }
}

.client__name {
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.64px;


    @include breakpoint($breakpoint-xl) {
        margin-bottom: 40px;
    }

    @include breakpoint($mobile-l) {
        margin-bottom: 25px;

        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
    }

    @include breakpoint($mobile-m) {
        margin-bottom: 20px;

        font-size: 15px;
    }
}

.client__goal {
    margin-bottom: 30px;

    @include gray-text;

    line-height: 22px;


    @include breakpoint($breakpoint-xl) {
        font-size: 16px;
        letter-spacing: 0;
    }

    @include breakpoint($mobile-l) {
        margin-bottom: 15px;

        line-height: 20px;
    }

    @include breakpoint($mobile-m) {
        margin-bottom: 10px;

        font-size: 15px;
    }
}

.client__result {
    @include gray-text;

    line-height: 22px;


    @include breakpoint($breakpoint-xl) {
        font-size: 16px;
        letter-spacing: 0;
    }

    @include breakpoint($mobile-l) {
        line-height: 20px;
    }

    @include breakpoint($mobile-m) {
        font-size: 15px;
    }



    & b {
        font-weight: 900;
        letter-spacing: 0.04em;
    }
}