.services-page {
    padding-top: 220px;


    @include breakpoint($breakpoint-xl) {
        padding-top: 180px;
    }

    @include breakpoint($breakpoint-l) {
        padding-top: 160px;
    }

    @include breakpoint($tablet) {
        padding-top: 130px;
    }

    @include breakpoint($mobile-l) {
        padding-top: 110px;
    }
}

.services__items-wrapper {
    padding: 0 60px;


    @include breakpointMin($breakpoint-huge) {
        padding: 0;
    }

    @include breakpoint($breakpoint-sl) {
        padding: 0 40px;
    }

    @include breakpoint($mobile-l) {
        padding: 0;
    }
}

.services__item {
    display: block;
    margin-bottom: 70px;
    padding: 50px 50px 51px 30px;

    color: $white;


    background: radial-gradient(144.59% 186.6% at -34.59% -40.89%, rgba(57, 57, 57, 0.468) 0%, rgba(100, 100, 100, 0.012) 100%);
    border-left: 20px solid #E84118;
    backdrop-filter: blur(10px);
    box-shadow: 0px 6px 9px rgba($black, 0.5);

    position: relative;


    @include breakpointMin($breakpoint-huge) {
        height: 450px;
    }

    @include breakpoint($breakpoint-l) {
        padding: 40px 50px 40px 25px;
    }

    @include breakpoint($breakpoint-sl) {
        padding: 30px 25px;
        margin-bottom: 50px;
    }

    @include breakpoint($tablet) {
        padding: 30px 20px;

        border-width: 10px;
    }

    @include breakpoint($mobile-l) {
        padding: 30px;

        border-left: none;
        border-top: 5px solid $orange;
        backdrop-filter: none;
    }



    &:nth-child(2) {
        & img {
            width: 120px;

            right: 165px;


            @include breakpoint($breakpoint-xl) {
                right: 100px;
            }

            @include breakpoint($breakpoint-l) {
                width: 80px;

                right: 70px;
            }

            @include breakpoint($breakpoint-sl) {
                width: 70px;

                right: 60px;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }


    &-title {
        margin-bottom: 40px;

        font-size: 24px;
        line-height: 29px;
        font-weight: 700;


        @include breakpoint($breakpoint-l) {
            margin-bottom: 30px;
        }

        @include breakpoint($tablet) {
            font-size: 22px;
            line-height: 24px;
        }
    }

    &-text {
        width: 590px;
        margin-bottom: 55px;

        font-family: $font-inter;
        font-size: 18px;
        line-height: 22px;


        @include breakpoint($breakpoint-xl) {
            width: 540px;
        }

        @include breakpoint($breakpoint-l) {
            width: 500px;
            margin-bottom: 40px;

            font-size: 17px;
        }

        @include breakpoint($breakpoint-sl) {
            width: 100%;
            padding-right: 200px;
        }

        @include breakpoint($tablet) {
            padding-right: 145px;

            font-size: 16px;
            line-height: 20px;
        }

        @include breakpoint($mobile-l) {
            padding-right: 0;
            margin-bottom: 30px;
        }
    }

    & img {
        width: 200px;
        height: 200px;

        position: absolute;
        top: 125px;
        right: 120px;


        @include breakpoint($breakpoint-xl) {
            right: 80px;
        }

        @include breakpoint($breakpoint-l) {
            width: 140px;
            height: 140px;

            right: 50px;
        }

        @include breakpoint($breakpoint-sl) {
            width: 125px;
            height: 125px;

            right: 40px;
        }

        @include breakpoint($tablet) {
            width: 100px;
            height: 100px;
        }

        @include breakpoint($mobile-l) {
            display: none;
        }
    }
}

.services__stages {
    padding: 110px 0 122px;

    border-bottom: 2px solid $orange;


    @include breakpointMin($breakpoint-huge) {
        padding-left: 185px;
    }

    @include breakpoint($breakpoint-sl) {
        padding-bottom: 260px;
    }

    @include breakpoint($tablet) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    @include breakpoint($mobile-l) {
        padding-top: 60px;
    }
}

.stages-wrapper {
        max-width: 1550px;
        margin: 0 auto;
        padding: 0 60px;


        @include breakpointMin($breakpoint-huge) {
            max-width: unset;
            padding: 0;
        }

        @include breakpoint($breakpoint-sl) {
            padding: 0 40px;
        }
    }

.stages {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 140px;


    @include breakpointMin($breakpoint-huge) {
        justify-content: unset;
    }

    @include breakpoint($breakpoint-4xl) {
        padding: 0 60px;
    }

    @include breakpoint($breakpoint-3xl) {
        padding: 0 40px;
    }

    @include breakpoint($breakpoint-l) {
        padding: 0 20px;
    }

    @include breakpoint($breakpoint-sl) {
        padding: 0;

        position: relative;
    }

    @include breakpoint($tablet) {
        flex-direction: column;

        position: unset;
    }



    &__item {
        font-size: 18px;

        position: relative;

        z-index: 100;


        @include breakpoint($breakpoint-xl) {
            font-size: 17px;
        }

        @include breakpoint($breakpoint-sl) {
            width: 235px;

            position: absolute;
            top: 0;
            left: 5%;
        }

        @include breakpoint($tablet) {
            width: 100%;
            margin-bottom: 50px;
            padding-left: 75px;

            position: relative;
            left: 0;
        }

        @include breakpoint($mobile-l) {
            margin-bottom: 20px;

            font-size: 16px;
        }



        &.item1,
        &.item2,
        &.item3 {
            @include breakpointMin($breakpoint-huge) {
                margin-right: 290px;
            }



            &::before {
                content: '1';

                font-family: $font-inter;
                font-style: italic;
                font-size: 144px;
                line-height: 174px;
                color: #282828;

                position: absolute;
                top: -75px;
                left: -50px;

                z-index: -1;


                @include breakpoint($breakpoint-xl) {
                    font-size: 124px;
                    line-height: 150px;

                    top: -65px;
                }

                @include breakpoint($breakpoint-l) {
                    font-size: 110px;
                    line-height: 130px;

                    top: -55px;
                    left: -35px;
                }

                @include breakpoint($tablet) {
                    font-size: 90px;
                    line-height: 90px;

                    top: -35px;
                    left: 25px;
                }
            }
        }

        &.item2 {
            @include breakpointMin($breakpoint-huge) {
                margin-right: 295px;
            }

            @include breakpoint($breakpoint-sl) {
                top: 75px;
                left: 35%;
            }

            @include breakpoint($tablet) {
                left: 0;
            }



            &::before {
                content: '2';
            }
        }

        &.item3 {
            margin-right: 0;


            @include breakpoint($breakpoint-sl) {
                top: 150px;
                left: 70%;
            }

            @include breakpoint($tablet) {
                left: 0;


                br {
                    display: none;
                }
            }

            @include breakpoint($mobile-l) {
                margin-bottom: 0;
            }




            &::before {
                content: '3';

                left: -70px;

                @include breakpoint($breakpoint-l) {
                    left: 25px;
                }

                @include breakpoint($breakpoint-sl) {
                    left: -55px;
                }

                @include breakpoint($tablet) {
                    left: 25px;
                }
            }
        }
    }
}