.team {
    padding: 227px 60px 80px;


    @include breakpoint($breakpoint-xl) {
        padding-top: 200px;
    }

    @include breakpoint($breakpoint-l) {
        padding-top: 160px;
    }

    @include breakpoint($tablet) {
        padding: 140px 40px 60px;
    }

    @include breakpoint($mobile-l) {
        padding: 110px 20px 50px;
    }



    &__head-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 50px;


        @include breakpoint($mobile-l) {
            height: 200px;
            margin-bottom: 35px;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;


        @include breakpoint($tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 350px;


        @include breakpoint($tablet) {
            width: 70%;
            margin-bottom: 35px;

            text-align: center;
        }

        @include breakpoint($mobile-l) {
            width: 85%;
        }


        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;


            @include breakpoint($tablet) {
                margin-bottom: 0;

                text-align: center;
            }
        }


        &-title {
            margin-bottom: 30px;

            font-size: 24px;
            line-height: 30px;
            font-weight: 700;


            @include breakpoint($breakpoint-sl) {
                margin-bottom: 25px;

                font-size: 20px;
                line-height: 24px;
            }

            @include breakpoint($mobile-l) {
                margin-bottom: 15px;
            }
        }

        &-txt {
            @include gray-text;


            @include breakpoint($breakpoint-sl) {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0;
            }

            @include breakpoint($tablet) {
                font-size: 16px;
            }
        }
    }

    &__txt {
        width: 950px;
        margin: 0 auto 105px;

        font-family: $font-inter;
        font-size: 18px;
        line-height: 22px;
        text-align: center;


        @include breakpoint($breakpoint-sl) {
            width: 95%;
            margin-bottom: 90px;
        }

        @include breakpoint($mobile-l) {
            margin-bottom: 70px;

            font-size: 16px;
        }
    }
}



// Members
.members {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        @include breakpoint($breakpoint-3xl) {
            justify-content: space-around;
        }

        @include breakpoint($breakpoint-l) {
            justify-content: space-between;
        }

        @include breakpoint($tablet) {
            justify-content: space-around;
        }
    }
}

.member {
    margin-bottom: 50px;

    text-align: center;


    @include breakpoint($mobile-l) {
        margin-bottom: 40px;
    }


    &:nth-child(3),
    &:last-child {
        margin-right: 0;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:last-child {
        margin-bottom: 0;
    }



    &__avatar {
        display: block;
        margin-bottom: 20px;

        background-color: #202020;
        border-radius: $border-radius;
        box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.5);


        @include breakpoint($breakpoint-xl) {
            max-width: 300px;
        }

        @include breakpoint($breakpoint-l) {
            max-width: 250px;
        }

        @include breakpoint($tablet) {
            max-width: 250px;
        }

        @include breakpoint($mobile-l) {
            max-width: 225px;
            margin-bottom: 10px;
        }
    }

    &__name {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;


        @include breakpoint($mobile-l) {
            margin-bottom: 5px;

            font-size: 16px;
        }
    }

    &__prof {
        font-weight: 500;
        line-height: 20px;


        @include breakpoint($mobile-l) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}