/* Colors */
$white: #fff;
$black: #000;
$red: #EE1C25;
$pink: #EC008D;
$orange: #F37020;
$violet: #AD1F8D;

/* Others */
$main-bg: #f8f8f8;
$transition: all .25s ease-in-out;
$box-shadow: 0px 11px 60px -40px #020202;
$b-top-radius10: 10px 10px 0 0;
$b-radius10: 10px;
$b-radius5: 5px;
$b-radius20: 20px;
$b-radius30: 30px;
$b-radius50p: 50%;



/* Viewport widths */
$bp-1920: 1920px;
$bp-1680: 1680px;
$bp-1536: 1536px;
$bp-1440: 1440px;
$bp-1368: 1368px;
$bp-1280: 1200px;
$bp-1100: 1100px;
$bp-1024: 1024px;
$bp-900: 900px;
$tablet: 768px;
$bp-640: 640px;
$bp-568: 568px;
$mobile-414: 414px;
$mobile-393: 393px;
$mobile-375: 375px;
$mobile-360: 360px;
$mobile-320: 320px;


/* Viewport height */
