.slider--works {
    height: 402px;


    @include breakpoint($breakpoint-xl) {
        height: 345px;
    }

    @include breakpoint($breakpoint-l) {
        height: 300px;
    }

    @include breakpoint($tablet) {
        height: 342px;
    }

    @include breakpoint($mobile-l) {
        height: 372px;
    }

    @include breakpoint($mobile-m) {
        height: 340px;
    }



    .swiper-slide {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        @include breakpoint($mobile-l) {
            justify-content: center;
        }
    }

    .slider__item-img {
        width: 32%;
        height: 350px;


        @include breakpointMin($breakpoint-huge) {
            max-width: 550px;
        }

        @include breakpoint($breakpoint-3xl) {
            width: 31%;
            height: 325px;
        }

        @include breakpoint($breakpoint-xl) {
            height: 300px;
        }

        @include breakpoint($breakpoint-l) {
            height: 250px;
        }

        @include breakpoint($tablet) {
            width: 48%;
            height: 300px;


            &:last-of-type {
                display: none;
            }
        }

        @include breakpoint($mobile-l) {
            width: 345px;
            height: 330px;


            &:nth-of-type(2) {
                display: none;
            }
        }

        @include breakpoint($mobile-m) {
            width: 320px;
            height: 300px;
        }
    }
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -5px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;

    opacity: 1;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;

    border: 1px solid #808080;


    @include breakpoint($mobile-l) {
        width: 10px;
        height: 10px;
    }



    &-active {
        background: $orange;
        border: none;
    }
}


.slider--reviews {
    @include breakpoint($mobile-l) {
        height: fit-content;
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;

    color: #4D4D4D;

    border: 1px solid $white;
    border-radius: 25px;

    top: 50%;

    @include breakpointMin($breakpoint-huge) {
        top: 37%;
    }

    @include breakpoint($breakpoint-l) {
        width: 40px;
        height: 40px;
    }

    @include breakpoint($tablet) {
        width: 30px;
        height: 30px;
    }

    @include breakpoint($mobile-l) {
        top: 24%;
    }



    &::after {
        width: 11px;
        height: 22px;

        font-size: 24px;
        color: $white;


        @include breakpoint($breakpoint-l) {
            width: 6px;
            height: 17px;

            font-size: 18px;
        }

        @include breakpoint($tablet) {
            width: 5px;
            height: 12px;

            font-size: 13px;
        }
    }
}

.swiper-button-prev {
    left: 0;


    @include breakpoint($tablet) {
        left: 10px;
    }



    &::after {
        @include breakpoint($breakpoint-l) {
            width: 11px;
        }

        @include breakpoint($tablet) {
            width: 8px;
        }
    }
}

.swiper-button-next {
    right: 0;


    @include breakpoint($tablet) {
        right: 10px;
    }
}


.slider--blog {
    height: 595px;


    @include breakpoint($breakpoint-3xl) {
        height: 475px;
    }

    @include breakpoint($breakpoint-xl) {
        height: 445px;
    }

    @include breakpoint($breakpoint-l) {
        height: 370px;
    }

    @include breakpoint($tablet) {
        height: 100%;
        min-height: 600px;
    }

    @include breakpoint($mobile-l) {
        min-height: 435px;
    }

    @include breakpoint($mobile-sm) {
        min-height: 335px;
    }



    .swiper-slide {
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: space-between;


        @include breakpoint($breakpoint-3xl) {
            height: 425px;
        }

        @include breakpoint($breakpoint-xl) {
            height: 400px;
        }

        @include breakpoint($breakpoint-l) {
            height: 325px;
        }

        @include breakpoint($tablet) {
            height: 550px;
            justify-content: center;
        }

        @include breakpoint($mobile-l) {
            height: 400px;
        }

        @include breakpoint($mobile-sm) {
            height: 300px;
        }
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;

        border: 1px solid $white;
        opacity: 1;


        @include breakpoint($mobile-l) {
            width: 10px;
            height: 10px;
        }

        &-active {
            background: $white;
            border: none;
        }
    }
}